#a{
color:white;
background:#5f0;
}
#b{
color:white;
background:#55f;
}
#c{
color:white;
background:#143;
}
#d{
color:white;
background:#56f;
}
#e{
color:white;
background:#52f;
}
.special{
margin:50px;
padding:20px;
}